<h2>Favorite Pets</h2>
  <navbar>
    <%= link_to 'Remove All Favorited Pets', '/favorites', method: :delete %>
  </navbar>

  <%= link_to 'Apply to Adopt', '/favorites/application' %>

<% if @favorite_pets.count == 0 %>
  <p>You currently have no pets favorited! Visit a pet's page and favorite it to see it listed here.</p>
<% end %>
<% @favorite_pets.each do |favorite| %>
  <section id="favorite-<%= favorite.id %>">
    <h3>
      <%= link_to favorite.name, "/pets/#{favorite.id}" %>
    </h3>
    <div class="photo">
      <%= image_tag("#{favorite.image}", alt:"favorite photo", method: :get) %>
    </div>
    <navbar>
      <%= link_to 'Remove From Favorites', "/favorites/#{favorite.id}", method: :delete %>
    </navbar>
  </section>
<% end %>
