<div class="shelter_new">
  <h1>Update Pet Information</h1>
  <div class="navigate">
    <%= link_to 'Go back to Shelters', "/shelters" %><br>
    <%= link_to 'Go back to Pets', "/pets" %>
  </div>

  <div class="new_shelter_info">
    <ol>
      <%= form_tag "/pets/#{@pet.id}", method: :patch do %>
      <li><%= label_tag :image %></li>
      <%= text_field_tag :image, @pet.image %><br>
      <li><%= label_tag :name %></li>
      <%= text_field_tag :name, @pet.name %><br>
      <li><%= label_tag :description %></li>
      <%= text_field_tag :description, @pet.description %><br>
      <li><%= label_tag :approximate_age %></li>
      <%= text_field_tag :approximate_age, @pet.approximate_age %><br>
      <li><%= label_tag :sex %></li>
      <%= text_field_tag :sex, @pet.sex %><br>

      <%= submit_tag 'Save' %>
    </ol>
  </div>
  <% end %>
</div>
