<div class="shelter_pets_index">
  <h1>All Pets</h1>

  <div class="seperate">
    <h2> List of Pets:</h2>
      <% @pets.each do |pet| %>
      <div class="pet_photo">
        <%= image_tag(pet.image, alt: "pet photo", method: :get) %>
      </div>
      <div class="info">
        <p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
        <p>Approximate Age: <%= pet.approximate_age %></p>
        <p>Sex: <%= pet.sex %></p>
        <p>Sheltered At: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p>
        <br>
        <a><%= link_to 'Update', "/pets/#{pet.id}/edit" %></a>
        <a><%= button_to 'Delete', "/pets/#{pet.id}", method: :delete %></a>
      </div>
    </div>
        <% end %>
</div>
