<div class="shelter_new">
  <h1>Add New Pet</h1>

  <div class="new_shelter_info">
    <ol>
      <%= form_tag "/shelters/#{@shelter.id}/pets" do %>
      <li><%= label_tag :image %></li>
      <%= text_field_tag :image %><br>
      <li><%= label_tag :name %></li>
      <%= text_field_tag :name %><br>
      <li><%= label_tag :age %></li>
      <%= text_field_tag :approximate_age %><br>
      <li><%= label_tag :description %></li>
      <%= text_field_tag :description %><br>
      <li><%= label_tag :sex %></li>
      <%= text_field_tag :sex %><br><br>
    </ol>
    <% end %>
  </div>
</div>
