<div class="show_shelter_page">
  <body>
    <h1><%= @pet.name %></h1>
    <div class="pet_photo">
      <p><%= image_tag(@pet.image, alt: "pet photo", method: :get) %></p>
    </div>
      <p>Description: <%= @pet.description %></p>
      <p>Approximate Age: <%= @pet.approximate_age %></p>
      <p>Sex: <%= @pet.sex %></p>
      <p>Sheltered At: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}/pets" %></p>
      <p>Status: <%= @pet.status %></p>
      <% if !@pet.adoptable? %>
        <p>On hold for: <%= @applicant.last.name %></p>
      <% end %>
  </body>

  <div class="navigate">
    <% unless @favorites.is_already_favorited?(@pet.id) %>
      <%= link_to 'Favorite This Pet', "/pets/#{@pet.id}/favorites", method: :post %>
    <% else %>
      <%= link_to 'Remove From Favorites', "/favorites/#{@pet.id}", method: :delete %>
    <% end %>
    <%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
    <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
    <%= link_to "Applications For This Pet", "/pets/#{@pet.id}/applications" %>
  </div>
</div>
