<h2>Application Details</h2>

<section>
  <p>Name: <%= link_to @application.name, "/applications/#{@application.id}" %></p>
  <p>Address: <%= @application.address %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip: <%= @application.zip %></p>
  <p>Phone Number: <%= @application.phone_number %></p>
  <p>Description: <%= @application.description %></p>
</section>
<section>
  <h3>Pets You Have Applied For</h3>
  <% @application.pets.each do |pet|%>
  <%= link_to pet.name, "/pets/#{pet.id}" %>
  <section id="pet-links-<%= pet.id %>">
    <%# links are usually a get, buttons are posting data %>
    <%# <%= link_to "Approve application for pet: #{pet.name}", "/applications/#{@application.id}/#{pet.id}/pending", method: :patch %> %>
    <%= link_to "Approve application for pet: #{pet.name}", "/apps_pet/#{AppsPet.find_by(pet_id: pet.id, app_id: @application.id).id}",  method: :patch %>
  </section>
  <% end %>
</section>
