<main>
  <section class='options'>
    <h2 class='title'>Edit Review</h2>
  </section>

  <section>
    <%= form_tag "/reviews/#{@review.id}", method: :patch, class: 'edit-form' do %>
      <%= text_field_tag :title, 'Title' %><br>
      <%= text_field_tag :rating, 'Rate Shelter 0-5' %><br>
      <%= text_field_tag :content, 'Write your review here.' %><br>
      <%= text_field_tag :picture, 'Image URL (optional)' %><br>

      <div id="flash-alert">
        <% if !!flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
        <% end %>
      </div>

      <%= submit_tag 'Save Review', class: 'submit' %>
    <% end %>
  </section>
</main>
